* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

@font-face {
    font-family: 'Metal';
    src: url('./shared/assets/fonts/Metal Reg-2.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Metal', sans-serif;
    background-color: #111;
    color: white;
}